<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data</title>
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
                }

        th, td {
          padding: 15px;
          text-align:center
        }
    </style>
</head>
<body>
<h2 align="center">Student Data</h2>
<table align="center">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>City</th>
        <th>Marks</th>
    </tr>
    {% for data in a %}
    <tr>
        <td>{{data.name}}</td>
        <td>{{data.email}}</td>
        <td>{{data.city}}</td>
        <td>{{data.marks}}</td>
    </tr>
    {% endfor %}
</table>

<p align="center"><button onclick="goBack()">&larr;</button></p>

<script>
function goBack() {
  window.history.back();
}
</script>
</body>
</html>